body {
	margin: 0;
	padding: 0;
	background-color: #333333;
	color: #FFF;
	font-size: 1.25rem;
}

.site-header, footer {
	background-color: #5A2673;
	width: 100%;
}
.site-header {
	position: fixed;
	top: 0;
	font-size: 1.5rem;
	font-family: sans-serif;
	border-bottom: #2D0047 0.05rem solid;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: nowrap;
}
.site-header .logo {
	background-repeat: no-repeat;
	background-size: contain;
	border: 0.1rem black solid;
	width: 2.5rem;
	height: 2.5rem;
	align-self: flex-start;
	margin: 0.3rem;
}

.site-header nav {
	display: flex;
	padding-right: 2rem;
	align-items: stretch;
}
.site-header nav .nav-item {
	text-decoration: none;
	padding: 0.7rem;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: normal;
	display: flex;
	align-items: center;
}
.site-header nav .nav-item.active {
	background-color: #2D0047;
	color: #FFF;
}
.site-header nav .nav-item.active:hover {
	color: #8952A2;
}

footer {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 0.25rem;
	font-size: 1rem;
	font-family: sans-serif;
	bottom: 0;
	min-width: 40rem;
	border-top: #2D0047 0.05rem solid;
}
footer .license-logo {
	margin: 1rem;
}

a {
	color: #FFF;
}
a:hover {
	background-color: #8952A2;
}

hr {
	border-color: #2D0047;
}
