body {
	margin: 0;
	padding: 3.4rem 0 0 0; /* header height */
	background-color: #343536;
	color: #D7DADC;
	font-size: 1.25rem;
}

.site-header, footer {
	background-color: #5A2673;
	width: 100%;
}
.site-header {
	position: fixed;
	top: 0;
	font-size: 1.5rem;
	font-family: sans-serif;
	border-bottom: #2D0047 0.05rem solid;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: nowrap;
}
.site-header .logo {
	background-repeat: no-repeat;
	background-size: contain;
	border: 0.1rem black solid;
	width: 2.6rem;
	height: 2.6rem;
	align-self: flex-start;
	margin: 0.3rem;
}

.site-header nav {
	display: flex;
	padding-right: 2rem;
	align-items: stretch;
}
.site-header nav .nav-item {
	text-decoration: none;
	padding: 0.7rem;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: normal;
	display: flex;
	align-items: center;
}
.site-header nav .nav-item.active {
	background-color: #2D0047;
	color: #FFF;
}
.site-header nav .nav-item.active:hover {
	color: #8952A2;
}

.icon {
	display: block;
	height: 2rem;
	width: 2rem;
}
.section-rss-link {
	display: inline-block;
	vertical-align: middle;
}
.section-rss-link .icon {
	padding: 0.3rem;
}

footer {
	text-align: center;
	margin-top: 5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1rem;
	font-family: sans-serif;
	bottom: 0;
	width: 100%;
	border-top: #2D0047 0.05rem solid;
}

a {
	color: #FFF;
}
a:hover {
	background-color: #8952A2;
}

hr {
	border-color: #2D0047;
}

.tags a:not(:last-child)::after {
	content: ","
}

.centered {
	text-align: center;
}

.breadcrumbs {
	margin: 0.5rem 0 0.5rem 0;
}
.breadcrumb {
	font-size: 1rem;
	font-weight: bold;
}
.breadcrumb a {
	text-decoration: none;
}
.breadcrumb:not(:last-child)::after {
	content: '→';
}
