.content-container {
	min-width: 36rem;
	padding: 1.5rem 1.5rem 4rem 1.5rem;
}
.content {
	margin: 0 auto;
	max-width: 56rem;
	line-height: 1.6;
	font-weight: 400;
	font-family: serif;
	min-height: calc(100vh - 13rem);
}
.content p {
	margin-top: 0;
}
.content h1, .content h2 {
	border-bottom: 0.01rem #2D0047 solid;
}
.content h1 {
	font-size: 2.5rem;
}
.content h2 {
	font-size: 2rem;
}
.content h3 {
	font-size: 1.75rem;
}
.content h4 {
	font-size: 1.5rem;
}
.content h5 {
	font-size: 1.375rem;
}
.content h6 {
	font-size: 1.350rem;
	color: #C0C0C0
}

.content table {
	display: block;
	margin: 1rem 0;
	overflow: auto;
	border-color: #2D0047;
	max-width: 100%;
	border-collapse: collapse;
}

.content table th,
.content table td {
	border: 0.2rem solid #2D0047;
	padding: 0.5rem 1rem;
}

.content blockquote {
	margin: 1.5em 1rem;
	padding: 0.5em 1rem;
	border-left: 0.2rem solid #2D0047;
	quotes: "\201C""\201D""\2018""\2019";
	word-wrap: break-word;
	white-space: pre-line;
}
.content blockquote:before,
.content blockquote:after {
	color: #2D0047;
	font-size: 4rem;
	line-height: 0.1rem;
}
.content blockquote:before {
	content: open-quote;
	vertical-align: -1.5rem;
}
.content blockquote:after {
	content: close-quote;
	position: absolute;
}
.content blockquote p {
	margin-bottom: 0.5rem;
}
.content blockquote p:last-child {
	margin: 0;
}
.content code, .content pre code {
	background-color: #000;
	border: 0.1rem solid #2D0047;
	page-break-inside: avoid;
	word-wrap: break-word;
	padding: 0 0.5rem;
}
.content pre code {
	display: block;
	min-width: 35rem;
	overflow-x: auto;
	padding: 1rem;
	font-size: 1rem;
}
.content code {
	display: inline-block;
	font-size: 1.2rem;
}

.content img {
	max-width: 100%;
}

.content ul, .content ol {
	padding-left: 1rem;
}
.content ul {
	list-style: none;
}
.content ul li:not(empty)::before {
	display: inline-block;
	color: #2D0047;
	margin-right: 0.5rem;
	width: 1rem;
	font-weight: bold;
	content: '\2022';
}

.content-toc {
	border: 0.1rem #2D0047 solid;
}
