<!DOCTYPE HTML>
<html>
	<head>
		{{partial "head.html" . }}
		<link rel="stylesheet" href="{{ "css/article.css" | relURL }}" type="text/css">
		<link rel="stylesheet" href="{{ "css/content.css" | relURL }}" type="text/css">
		<link rel="stylesheet" href="{{ "css/article-item.css" | relURL }}" type="text/css">
		{{if .NextPage }}
		<link rel="next" href="{{ .NextPage.Permalink }}" type="text/html">
		{{end}}
		{{if .PrevPage }}
		<link rel="prev" href="{{ .PrevPage.Permalink }}" type="text/html">
		{{end}}
	</head>
	<body>
		{{partial "site-header.html" . }}
		<main>
			{{partial "article.html" . }}
		</main>
		{{partial "footer.html" . }}
	</body>
</html>
