{{ $cover := (.Page.Resources.GetMatch "cover.*") }}
<!DOCTYPE HTML>
<html>
	<head>
		{{partial "common-head.html" . }}

		<link rel="stylesheet" href="{{ "css/article-card.css" | absURL }}" type="text/css">
		<title>{{ .Site.Title }}: {{ .Site.Params.AuthorName }} – {{ .Title }}</title>

		<meta name="description" content="{{if .Description }}{{ .Page.Description }}{{else}}{{ .Page.Summary }}{{end}}" />
		<meta name="keywords" content="{{ delimit .Page.Keywords ", " ", " }}" />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="{{ .Site.Params.Twitter }}">
		<meta name="twitter:title" content="{{ .Site.Title }}: {{ .Site.Params.AuthorName }} – {{ .Title }}">
		<meta name="twitter:description" content="{{if .Description }}{{ .Page.Description }}{{else}}{{ .Page.Summary }}{{end}}">
		{{if $cover }}
		<meta name="twitter:image" content="{{ $cover.Permalink }}">
		{{end}}
		<!-- Open Graph data -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:title" content="{{ .Site.Title }}: {{ .Site.Params.AuthorName }} – {{ .Title }}" />
		<meta property="og:description" content="{{if .Description }}{{ .Page.Description }}{{else}}{{ .Page.Summary }}{{end}}" />
		{{if $cover}}
		<meta property="og:image" content="{{ $cover.Permalink }}" />
		{{end}}
	</head>
	<body>
		{{partial "header.html" . }}
		<main>
			<article>
				{{partial "article-card.html" . }}
				{{partial "content.html" . }}
			</article>
		</main>
		{{partial "footer.html" . }}
	</body>
</html>
