<!DOCTYPE HTML>
<html>
	<head>
		{{partial "common-head.html" . }}

		<link rel="stylesheet" href="{{ "css/posts.css" | absURL }}" type="text/css">
		<title>{{ .Site.Title }}: {{ .Site.Params.AuthorName }} – {{ .Title }}</title>

		<meta name="description" content="{{if .Description }}{{ .Page.Description }}{{else}}{{ .Page.Summary }}{{end}}" />
		<meta name="keywords" content="{{ delimit .Page.Keywords ", " ", " }}" />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="{{ .Site.Params.Twitter }}">
		<meta name="twitter:title" content="{{ .Site.Title }}: {{ .Site.Params.AuthorName }} – {{ .Title }}">
		<meta name="twitter:description" content="{{if .Description }}{{ .Page.Description }}{{else}}{{ .Page.Summary }}{{end}}">
		{{if .Params.Cover }}
		<meta name="twitter:image" content="{{ .Params.cover | absURL }}">
		{{end}}
		<!-- Open Graph data -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:title" content="{{ .Site.Title }}: {{ .Site.Params.AuthorName }} – {{ .Title }}" />
		<meta property="og:description" content="{{if .Description }}{{ .Page.Description }}{{else}}{{ .Page.Summary }}{{end}}" />
		{{if .Params.Cover}}
		<meta property="og:image" content="{{ .Params.cover | absURL }}" />
		{{end}}
	</head>
	<body>
		{{partial "header.html" . }}
		<main>
			<article>
				<div{{if .Params.cover }} class="article-cover" style="background-image: url('{{ .Params.cover | absURL }}')"{{else}} class="article-no-cover"{{end}}>
					<h1>{{ .Title }}</h1>
					<div class="article-cover-bottom">
						<div class="article-card">
							{{if .Site.Params.Email }}
							<a href="{{ "about" | absURL }}">
								<img class="article-author-pic" src="https://www.gravatar.com/avatar/{{ .Site.Params.Email | md5 }}?s=64">
							</a>
							{{end}}

							<div>
								<div class="article-author">Author:&nbsp;<a href="{{ "about" | absURL }}">{{ .Site.Params.AuthorName }}</a></div>
								<div class="article-facts">
									<span>Published&nbsp;on&nbsp;<time datetime="{{ .Page.PublishDate }}">{{ .Page.PublishDate.Format "Jan 2, 2006" }}</time></span>
									<span>~{{ .FuzzyWordCount }}&nbsp;words</span>
									<span>{{ .ReadingTime }}&nbsp;min&nbsp;read</span>
								</div>
							</div>
							{{if .Page.Description }}
							<p>{{ .Page.Description }}</p>
							{{end}}
						</div>
						{{if .Params.coverCredit }}
						<div class="article-cover-credit">
							Image credit: <a href="{{ .Params.coverCredit }}" target="_blank">{{ .Params.coverCredit }}</a>
						</div>
						{{end}}
					</div>
				</div>
				<div class="article-content">
					<div class="article-text">
						{{ .Content }}
					</div>
				</div>
			</article>
		</main>
		{{partial "footer.html" . }}
	</body>
</html>
