<div{{if .Params.cover }} class="article-cover" style="background-image: url('{{ .Params.cover | absURL }}')"{{else}} class="article-no-cover"{{end}}>
	<h1>{{ .Title }}</h1>
	<div class="article-cover-bottom">
		<div class="article-card">
			{{if .Site.Params.Email }}
			<a href="{{ "about" | absURL }}">
				<img class="article-author-pic" src="https://www.gravatar.com/avatar/{{ .Site.Params.Email | md5 }}?s=64">
			</a>
			{{end}}

			<div>
				<div class="article-author">Author:&nbsp;<a href="{{ "about" | absURL }}">{{ .Site.Params.AuthorName }}</a></div>
				<div class="article-facts">
					<span>Published&nbsp;on&nbsp;<time datetime="{{ .Page.PublishDate }}">{{ .Page.PublishDate.Format "Jan 2, 2006" }}</time></span>
					<span>~{{ .FuzzyWordCount }}&nbsp;words</span>
					<span>{{ .ReadingTime }}&nbsp;min&nbsp;read</span>
				</div>
			</div>
			{{if .Page.Description }}
			<p>{{ .Page.Description }}</p>
			{{end}}
		</div>
		{{if .Params.coverCredit }}
		<div class="article-cover-credit">
			Image credit: <a href="{{ .Params.coverCredit }}" target="_blank">{{ .Params.coverCredit }}</a>
		</div>
		{{end}}
	</div>
</div>
