<!DOCTYPE HTML>
<html>
	<head>
		{{partial "head.html" . }}
		<link rel="stylesheet" href="{{ "css/content.css" | relURL }}" type="text/css">
		<link rel="stylesheet" href="{{ "css/content-list.css" | relURL }}" type="text/css">
		<link rel="stylesheet" href="{{ "css/article-item.css" | relURL }}" type="text/css">
	</head>
	<body>
		{{partial "site-header.html" . }}
		<main class="content-container">
			{{partial "content.html" . }}
			{{ $posts := where .Site.RegularPages "Section" "posts" }}
			{{if $posts }}
			<section class="content content-list">
				<h1>Recent blog posts</h1>
				{{partial "article-feed.html" $posts }}
			</section>
			{{end}}
		</main>
		{{partial "footer.html" . }}
	</body>
</html>
